.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #e0354b;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.App-header img {
  height: 200px;
  margin-right: 20px;
}
hr {
  background: #e0354b;
  height: 2px;
}

.App-body {
  min-height: 500px;
}
.App-body p {
  margin: 30px;
}
.App-footer {
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
